@use "utils/utils";
@use "modules/var";

@font-face {
  font-family: 'Garet';
  src: url('../styles/font/Garet/Garet-Book.otf');
  src:
    url('../styles/font/Garet/Garet-Book.ttf') format('embedded-opentype'),
    url('../styles/font/Garet/Garet-Heavy.otf') format('otf'),
    url('../styles/font/Garet/Garet-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var.$bg-color;
  font-size: 1.6rem;
  color: var.$text-color;
  font-family: 'Garet', serif;
}

h1, h2, h3 {
  color: var.$title-color;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
  justify-content: space-between;
  height: 10rem;
  background: var.$bg-color;

  h1 {
    font-size: var.$fs-title;
    font-weight: lighter;
  }

  nav {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
  }
}

* a {
  text-decoration: none;
  color: var.$text-color;
}

%container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.container {
  @extend %container;
}

.projectContainer {
  @extend %container;
  align-items: center;
  min-height: 40rem;
}

#myLogo {
  width: 9rem;
  height: 9rem;
}

.fa-circle-arrow-down {
  cursor: pointer;
}

.spacer {
  width: 100%;
  min-height: 80vh;
  padding: 5rem;
  display: flex;
  flex-flow: row wrap;
}

.spacerContent {
  width: 100%;
  min-height: 50vh;
}

#myProjects {
  width: 100%;
  min-height: 20vh;
  border: 3px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.project {
  width: 30%;
  height: 40rem;
  border: 1px solid lightgray;
  transition: 0.1s;
}

.project:hover {
  transition: 0.5s;
  scale: 1.1;
}

.thumbnailContainer {
  display: flex;
  width: 100%;
}

.projectThumbnail {
  max-width: 100%;
  max-height: 20rem;
}