@use "utils/utils";
@use "modules/var";

@font-face {
  font-family: 'Garet';
  src: url('../styles/font/Garet/Garet-Book.otf');
  src:
    url('../styles/font/Garet/Garet-Book.ttf') format('embedded-opentype'),
    url('../styles/font/Garet/Garet-Heavy.otf') format('otf'),
    url('../styles/font/Garet/Garet-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var.$bg-color;
  font-size: 1.6rem;
  color: lighten(var.$text-color, 10%);
  font-family: 'Garet', serif;
}

h1, h2, h3 {
  color: var.$title-color;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.30);
  justify-content: space-between;
  height: 10rem;
  background: var.$bg-color;

  a {
    color: var.$title-color;
  }
  div {
    a {
      margin-inline: 1rem;
    }
  }
}

* a {
  text-decoration: none;
  color: lighten(var.$text-color, 10%);
}

%container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.container {
  @extend %container;
}

.projectContainer {
  @extend %container;
  margin-top: 1rem;
  align-items: center;
  min-height: 40rem;
}

#myLogo {
  width: 9rem;
  height: 9rem;
}

.fa-circle-arrow-down {
  cursor: pointer;
  color: #ff7300;
}

.spacer {
  width: 100%;
  min-height: 80vh;
  padding: 5rem;
  display: flex;
  flex-flow: row wrap;
}

.spacerContent {
  width: 100%;
  min-height: 50vh;
}

#myProjects {
  width: 100%;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.project {
  width: 30%;
  height: 40rem;
  border: 1px solid #333333;
  transition: 0.1s;
}

.thumbnailContainer {
  display: flex;
  width: 100%;
}

.projectThumbnail {
  max-width: 100%;
  max-height: 20rem;
}

footer {
  width: 100%;
  min-height: 20rem;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.30);

  div > div {
    margin-top: 0.5rem;
  }
}

form {
  width: 100%;
  padding: 1rem;
  min-height: 55rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    flex-flow: row wrap;
    width: 55%;
    label {
      width: 100%;
    }
    input {
      padding: 1rem;
      border: none;
      width: 100%;
      background: #2e3136;
      color: lighten(var.$text-color, 50%);
    }

    input:focus {
      outline: 1px solid var.$title-color;
    }

    input[type="submit"] {
      padding: 1rem;
      border: none;
      background: #ff7300;
      color: white;
    }
  }
}

.error {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  color: #FEFEFE;
  background: #e85c5c;
  transition: 1s;
  cursor: pointer;
}

.success {
  @extend .error;
  background: #4f805d;
}

@media screen and (max-width: 1270px) {
  .projectContainer {
    justify-content: center;
  }

}

@media screen and (max-width: 890px) {
  .project {
    width: 100%;
  }

}